body{
    background-color: rgb(241, 227, 236) !important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 70%;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}